@charset "utf-8";

.block_2 {
    display: inline-block;
    line-height: 20px;
    margin-right: 2em;
    width: 286px;
}
.main-igp tr.odd, .main-igp tr.even {
    background: none;
}

.conte-table{
    width: 93%;
    margin: 0 auto;
}
/*.conte-table p.container-fluid{*/
.conte-table p.row-igp{
    border-bottom: 1px solid #ccc;
}
#dt_pedidos_filter input {
    width: 80%
}
.main-igp .dataTable {
    font-size: 110%;
}
.main-igp .dataTable tr td{
    padding: 0 0 0 0.8em;
}
.main-igp .ui-state-default{
    color:#333;
}
.main-igp #dt_pedidos tr td {
    padding: 0 ;
}
.block_5 {
    border: 1px solid #3A87AD;
    padding: 2em 1em;
    border-radius: 5px;
    margin-bottom: 1em;
    display: inline-block;
}
.main-igp tr.even td.sorting_1,.main-igp tr.odd td.sorting_1 {
    background-color: #E7E6E6;
}
.main-igp .sorting_desc {
    background: url("./static/img/sort_desc.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}
.main-igp .sorting {
    background: url('./static/img/sort_both.png') no-repeat center right;
}